/* Background */
body {
  background-image: url(assets/dancebackground.png);
}
/* Navigation (A,A,S)*/
#main-menu {
    display: inline-flex;
    gap: 250px;
    float: right;
    margin-top: 4px;
    margin-bottom: 24px;
    margin-right: 115px;
    position: static;
}

.navigation a:link {
color: #F6EB14;
font-size: 38px;
font-family: Orbitron;
src: url(assets/Fonts/Orbitron-VariableFont_wght.ttf);

}

nav{
  background-image: url(assets/NavigationLabel-01.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right static;
  background-size: cover;
  display: block;
 }



/* Hover on Navigation Link */
.navigation a:hover {
  color: #F6881F;
}

/* No Bullet Points and Underlines*/
li {
    list-style-type: none;
}
a:link{
    text-decoration: none;
}
/* Moving Image Center */
.home {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 68%;
}
/* Logo Moving Up */

#Logo {
  width: 650px;
  position: static;
}

/* Search Button */