/* Background */
body {
  background-image: url(assets/dancebackground.png);
}
/* Navigation (A,A,S)*/
#main-menu {
    display: inline-flex;
    gap: 200px;
    float: right;
    margin-top: 40px;
    margin-bottom: 24px;
    margin-right: 115px;
    position: static;
}
@font-face {
font-family: "Orbitron";
src: url(assets/Fonts/Orbitron-VariableFont_wght.ttf);
font-weight: 400;


}
.navigation a:link {
color: #F6EB14;
font-size: 38px;
font-family: Orbitron;


}

nav{
  background-image: url(assets/NavigationLabel-01.svg);
  background-repeat: no-repeat;
  background-position: top right ;
  background-size: cover;
  display: block;
 }



/* Hover on Navigation Link */
.navigation a:hover {
  color: #F6881F;
}

/* No Bullet Points and Underlines*/
li {
    list-style-type: none;
}
a:link{
    text-decoration: none;
}
/* Moving Image Center */
.home {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 78%;
  bottom:50px;
}
/* Logo Moving Up */

#Logo {
  position: relative;
  width: 320px;
  top: 20px;
  left: 50px;
  
  
}

/* Search Button */

.searchinput{
  width: 520px;
  height: 80.72px;
  display: inline;
  align-items: center;
  padding: 14px;
  border-radius: 18px;
  border: none;
  margin-top: -10px;
    margin-bottom: 24px;
    margin-left: 20px;
    margin-right: -220px;
    background-color: #F4CA19;
    font-size: 41px;
    text-indent: 30px;
    color: #302C81;
}

.navsearch  {
    background-color: #D46CAA;
    border: 3px #F4CA19;
    stroke-width: 50%;
    padding: 14px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 23px;
    position: relative;
    left: 108px;
    bottom: -2px;
  
}

  /* Make Search/Email Blue */
::placeholder
{
  color:#302C81
}

/* Fix Navigation Location */
* {
margin: 0;  
padding: 0;
}
/* Footer */
footer {
 position: relative;
 
  background-image: url(assets/navigationbar.svg);
  color: #302C81;
  
}
/* Change color of Footer Color */
.footerlinks a:link {
  color: #302C81;
  display: grid;
  font-size: 30px;
}
/* Hover Links */
.footerlinks a:hover {
  color: #F6881F;
}